$font-stack: "Century Gothic", sans-serif;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
}

#map-canvas {
  display: block;
}

#info-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300px; /* update in coffee */
  .point {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
  }
  .active {
    background: rgba(240, 210, 240, 0.3);
    line-height: 40px;
    border-right: solid 5px rgba(200, 150, 200, 0.6);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
